@import "../../components/wxParse/wxParse.wxss";

.summary {
  padding: 0 30px;
  font-family: PingFangSC-Regular, sans-serif;

  .post-title-container {
    padding: 20px 0;

    .post-title {
      font-size: 36rpx;
      font-family: PingFangSC-Medium, sans-serif;
    }

    .post-feed-title {
      font-family: PingFangSC-Medium;
      font-size: 22px;
      color: #BDBDBD;
      margin-top: 6px;
    }
  }
}
